<!DOCTYPE html>
<html>
<head>
    <title>{{ title }}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Sample Order App</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li class="active"><a href="/newnote">New Order</a></li>
                <li><a href="/discuss">Discuss</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<div class="container">

    <div class="text-center">
        <h1>New Virtual Ordering App</h1>
        <p class="lead">Use this form to enter your order details...</p>
    </div>
    {% if message.length > 0 %}
            <div class="alert alert-danger alert-error">
                {{ message }}
            </div>
    {% endif %}
    <form class="form-horizontal" action="newnote" method="post">
        <fieldset>

            <!-- Form Name -->
            <legend>Enter your Order details...</legend>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="companyName">Company Name</label>
                <div class="col-md-4">
                    <select id="companyName" name="companyName" class="form-control">
                        <option value="">(Show All Orders)</option>
                        <option value="SuperTrader">SuperTrader</option>
                        <option value="SuperTrader">SuperTrader</option>
                        <option value="MegaCorp">MegaCorp</option>
                    </select>
                </div>
            </div>

            <!-- Select Basic -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="customerAddress">Customer Address</label>
                <div class="col-md-4">
                    <select id="customerAddress" name="customerAddress" class="form-control">
                        <option value="None">(Select Project)</option>
                        <option value="steindamm">Steindamm 80</option>
                        <option value="reeperbahn">Reeperbahn 153</option>
                        <option value="sternstrasse">Sternstrasse 145</option>
                        <option value="ottenser">Ottenser Hauptstrasse 24</option>  
                        <option value="lagerstrasse">Lagerstrasse 11</option>  
                    </select>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="ordereditem">Ordered Item</label>
                <div class="col-md-6">
                    <select id="ordereditem" name="ordereditem" class="form-control">
                        <option value="macbook">Macbook</option>
                        <option value="Book guide to hamburg">Book "Guide to Hamburg"</option>
                        <option value="book-cooking-101">Book "Cooking 101"</option>
                        <option value="inline Skates"> Inline Skates</option>  
                        <option value="playstation4">Playstation 4</option> 
                        <option value="flux-compensator">Flux compensator</option> 
                    </select>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="price">Price</label>
                <div class="col-md-6">
                    <input class="form-control" id="price" name="price" value="" type="text" />
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="currency">Currency</label>
                <div class="col-md-6">
                    <select id="currency" name="currency" class="form-control">
                        <option value="usd">($)USD</option>
                        <option value="pound">Pound</option>
                    </select>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="btnSaveNote">Save Order</label>
                <div class="col-md-4">
                    <button id="btnSaveNote" name="btnSaveNote" class="btn btn-primary" type="submit">Save</button>
                </div>
            </div>

        </fieldset>
    </form>


</div><!-- /.container -->
</body>
</html>